@import "../../public/css/main.scss";

$splash: "splash";

.#{$splash} {
  @include flex-column();
  @include flex-hvc();
  height: 100%;
  background-color: #56abe4;

  &-img {
    width: 220px;
    height: 220px;
  }
}