// flex列排列, 让子类像display:inline-block那样排列
@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

// flex行排列, 让子类像display:block那样排列
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

//flex 水平居中, horizontal center简写成hc
@mixin flex-hc() {
  align-items: center;
}

//flex 垂直居中, vertical center简写vc
@mixin flex-vc() {
  justify-content: center;
}

@mixin flex-around {
  justify-content: space-around;
}

//flex 垂直水平居中, horizontal center简写成hc, vertical center简写vc
@mixin flex-hvc {
  align-items: center;
  justify-content: center;
}
